*{
    padding: 0;
    margin: 0;
}

nav {
    border-bottom: 2px solid black;
}

.d1{
    left:20vh;
    top: -34px;
}

.d2{
    left: 100px;
    top: -68px;
}

.d3{
    left:150px;
    top: -100px;
}

.d4{
    left:150px;
    top: -130px;
}


.d5{
    left:150px;
    top: -162px;
}

.d6{
    left:150px;
    top: -195px;
}

.shortcut-label {
    font-weight: bold;
    margin-right: 10px;
    color: black;
}

.d7{
    left:-10px;
    
}

.d8{
    left:-10px;
}

.d9{
    left:35px;
}

.l1{
    bottom: 4vh;
}

.l2{
    bottom: 8vh;
}

.l3{
    bottom: 12vh;
}

.l4{
   bottom: 16.3vh;
}

.l5{
   bottom: 20.6vh;
}

.one{
    position: relative;
    bottom: 180px;
}
.two{
    position: relative;
    bottom: 180px;
}
.three{
    position: relative;
    bottom: 180px;
}

.bot{
    position: relative;
    right: 370px;
}

.bot2{
    position: relative;
    right: 370px;
}

.dt1{
    width: 86px;
}

.dt2{
    width: 86px;
}

.dt3{
    position: relative;
    width: 45px;
    left: -6px;
}

.dt4{
    position: relative;
    width: 45px;
    left: -6px;
}

.a1{
    position: relative;
    bottom: 230px;
    left: 220px;
    
}

p{
    position: relative;
    bottom: 220px;
    left: 300px;
}

.btnref{
    position: relative;
    left: 370px;
}

#one{
    width: 30px;
}

.lab{
    position: relative;
    left: 400px;
}

.vl{
    position: relative;
    left: 400px;
}

#send{
    position: relative;
    bottom: 132vh;
    left: 98vh;
}

.we1{
    position: relative;
    right: 150px;
    bottom: 10px;
}

.we2{
    position: relative;
    right: 40px;
    bottom: 46px;
}

.t1{
    position: relative;
    right: 150px;
    bottom: 10px;
}

.t2{
    position: relative;
    right: 40px;
    bottom: 50px;
}

.s1{
    position: relative;
    right: 150px;
    bottom: 10px;
}

.s2{
    position: relative;
    right: 40px;
    bottom: 50px;
}

.g1{
    position: relative;
    right: 150px;
    bottom: 0px;
}

.g2{
    position: relative;
    right: 40px;
    bottom: 40px;
}

.da1{
    position: relative;
    left: -150px;
    bottom: 16px;
}

.da2{
    position: relative;
    bottom: 56px;
    left: -40px;
}

.o1{
    position: relative;
    left: -150px;
    bottom: 34px;
}

.o2{
    position: relative;
    bottom: 71px;
    left: -40px;
}

.gr1{
    position: relative;
    left: -150px;
    bottom: 54px;
}

.gr2{
    position: relative;
    bottom: 90px;
    left: -40px;
}

.tr1{
    position: relative;
    left: -150px;
    bottom: 75px;
}

.tr2{
    position: relative;
    bottom: 112px;
    left: -40px;
}

.n2{
    position: relative;
    bottom: 93px;
    left: -149px;
}

.n2{
    position: relative;
    top: -135px;
    left: -39px;
}

.grad1{
    position: relative;
    left: -143px;
    bottom: 118px;
}

.grad2{
    position: relative;
    bottom: 156px;
    left: -38px;
}

.rem1 {
    position: relative;
    bottom: 138px;
    left: -144px;
}

.rem2 {
    position: relative;
    bottom: 178px;
    left: -36px;
}

.sit1 {
    position: relative;
    bottom: 239vh;
    left: 150vh;
}

.sit2 {
    position: relative;
    bottom: 239vh;
    left: 150vh;
}

.tru1 {
    position: relative;
    bottom: 231vh;
    left: 113vh;
}

.tru2 {
    position: relative;
    bottom: 231vh;
    left: 115vh;
}

.pan1 {
    position: relative;
    bottom: 223vh;
    left: 79vh;
}

.pan2 {
    position: relative;
    bottom: 223vh;
    left: 80vh;
}

.gst1 {
    position: relative;
    bottom: 216vh;
    left: 45vh;
}

.gst2 {
    position: relative;
    bottom: 216vh;
    left: 45vh;
}

.bill {
    position: relative;
    bottom: 214vh;
    left: 150vh;
}

.grpbtn {
    position: relative;
    bottom: 210vh;
}

p1 {
    position: relative;
    bottom: 211vh;
}

.para {
    position: relative;
    bottom: 221vh;
    left: 140vh;
    font-size: 12px;
    font-weight: 600;
}

footer {
    position: relative;
    bottom: 218vh;
    left: 143vh;
}